name: Run Python Validator

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  run-validator:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Run validator
        run: python validator.py
